.categories {
  width: 100%;
  padding: 80px 0;

  &__container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__path {
    display: flex;
    align-items: center;
    margin-top: 8px;
    gap: 8px;
    font-size: var(--font-size-button);

    &-text {
      color: var(--color-black-70);
      font-weight: var(--font-weight-button);
    }

    &-current {
      color: var(--color-primary);
      font-weight: var(--font-weight-subtitle);
    }

    img {
      width: 12px;
      height: 12px;
      display: block;
    }
  }

  &__title {
    text-align: center;
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-title);
    margin-top: 12px;
  }

  &__search {
    margin: 0 auto;
    display: flex;
    gap: 10px;
    width: 1005px;
    height: 48px;

    &-input {
      width: 700px;
      height: 48px;
      padding: 16px;
      border-radius: 10px;
      border: 1px solid var(--color-black-20);
    }

    &-button {
      width: 295px;
      height: 47px;
      padding: 14px 20px;
      border-radius: 10px;
      background: var(--color-primary);
      color: var(--color-white);
      font-weight: var(--font-weight-button);
      cursor: pointer;
      transition: background 150ms ease-out;

      &:hover {
        background: var(--color-primary-80);
      }

      &:active {
        background: var(--color-primary-60);
      }
    }
  }

  &__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
  }

  &__card {
    width: 336px;
    height: 128px;
    padding: 24px;
    border-radius: 16px;
    background: var(--color-white);
    box-shadow: 0 1px 25px 0 #1111111f;
    cursor: pointer;
    transition:
            transform 150ms ease-out,
            box-shadow 150ms ease-out,
            border 150ms ease-out;

    &:hover {
      transform: translateY(-4px);
      box-shadow:
              0 1px 50px 0 #1111110f,
              0 10px 50px 0 var(--color-primary-20);
    }

    &:active {
      transform: none;
      box-shadow: 0 1px 25px 0 var(--color-primary-40);
    }
  }
}
