.categories {
  width: 100%;
  padding: 80px 0;

  &__container {
    max-width: 1440px;
    width: calc(100vw - 32px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
    @media (max-width: 525px) {
      width: calc(100vw - 16px);
    }
  }

  &__path {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    gap: 8px;
    font-size: var(--font-size-button);

    @media (max-width: 525px) {
      flex-wrap: wrap;
    }

    &-text {
      color: var(--color-black-70);
      font-weight: var(--font-weight-button);
    }

    &-current {
      color: var(--color-primary);
      font-weight: var(--font-weight-subtitle);
    }

    img {
      width: 12px;
      height: 12px;
      display: block;
    }
  }

  &__title {
    text-align: center;
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-title);
    color: var(--color-primary-80);
    margin-top: 12px;
  }

  &__search {
    margin: 0 auto;
    display: flex;
    gap: 10px;
    height: 48px;

    @media (max-width: 525px) {
      flex-direction: column;
      align-items: flex-end;
    }


    &-input {
      max-width: 1005px;
      width: calc(100vw - 32px);
      height: 48px;
      padding: 16px 16px 16px 46px;
      border-radius: 10px;
      border: none;
      outline: none;
      box-shadow: 0 1px 25px 0 #1111111F;
      @media (max-width: 1471px) {
        max-width: 1040px;
      }
      @media (max-width: 525px) {
        width: calc(100vw - 16px);
      }
      &:hover {
        background: linear-gradient(0deg, rgba(28, 28, 28, 0.02), rgba(28, 28, 28, 0.02)),
        linear-gradient(0deg, rgba(11, 99, 102, 0.06), rgba(11, 99, 102, 0.06));
        animation-timing-function: ease-out;
        animation-duration: 150ms;
      }
      &:focus {
        border: 2px solid #0B6366;
        box-shadow: 0 1px 25px 0 #0E83A340;
      }
    }

    &-label {
      position: relative;
      display: block;
    }

    &-hint{
      margin-left: 8px;
      color: var(--color-black-70);
      font-size: var(--font-size-info);
      @media (max-width: 767px) {
        display: none;
      }
    }

    &-icon {
      position: absolute;
      left: 16px;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      color: var(--color-black-70);
    }
  }

  &__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    @media (max-width: 1471px) {
      gap: 16px;
    }
    @media (max-width: 751px) {
      gap: 10px;
    }
  }

  &__card {
    width: 336px;
    height: 128px;
    padding: 24px;
    border-radius: 16px;
    background: var(--color-white);
    box-shadow: 0 1px 25px 0 #1111111f;
    cursor: pointer;
    transition:
            transform 150ms ease-out,
            box-shadow 150ms ease-out,
            border 150ms ease-out;
    @media (max-width: 751px) {
      width: calc(100vw - 24px);
      min-height: 68px;
      height: auto;
    }

    &:hover {
      transform: translateY(-4px);
      box-shadow:
              0 1px 50px 0 #1111110f,
              0 10px 50px 0 var(--color-primary-20);
    }

    &:active {
      transform: none;
      box-shadow: 0 1px 25px 0 var(--color-primary-40);
    }
  }
}
