@mixin flex-row($align: center, $justify: flex-start, $gap: 0) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}

@mixin flex-col($align: flex-start, $justify: flex-start, $gap: 0) {
  display: flex;
  flex-direction: column;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}

@mixin text($font, $size, $weight: 400, $line-height: 100%) {
  font-family: $font;
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
}

@mixin transition($time) {
  transition: all $time ease;
}

@mixin radius($r) {
  border-radius: $r;
}

@mixin shadow($shadow) {
  box-shadow: $shadow;
}

