*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: inherit;
}

body {
  line-height: 1;
  background: #ffffff;
}

h1, h2, h3, h4, h5, h6,
p, figure, blockquote {
  margin: 0;
  padding: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}
