.card-section {

  &__header {
    display: block;
    gap: 12px;
    max-width: 1362px;
    margin: 0 auto 24px;

    @media (max-width: 1439px) and (min-width: 768px) {
      max-width: 900px;
    }

    @media (max-width: 767px) {
      margin-bottom: 16px;

    }
  }

  &__back {
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    left: 16px;
    padding-bottom: 6px;
    border: none;
    background: transparent;
    cursor: pointer;
    img {
      display: block;
      width: 20px;
      height: 20px;
    }
    @media (max-width: 425px) {
      left: 8px;
      padding-top: 16px;
    }
  }

  &__title {
    max-width: calc(100vw - 46px);
  }

  &__spacer {
    flex: 0 0 36px;
  }

  &__flex {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 24px;
    justify-content: flex-start;

    max-width: 1362px;
    margin: 0 auto;

    @media (max-width: 1439px) and (min-width: 768px) {
      max-width: 900px;
    }

    @media (max-width: 932px) and (min-width: 768px) {
      justify-content: center;
    }

    @media (max-width: 932px) {
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      max-width: 100%;
      gap: 16px;
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  border-radius: 12px;
  background: var(--color-white);
  box-shadow: 0 1px 25px 0 #1111111f;
  cursor: pointer;
  transition: transform 150ms ease-out, box-shadow 150ms ease-out, border 150ms ease-out;
  width: 438px;
  flex: 0 0 438px;
  height: 305px;

  &.is-selected {
    border: 2px solid var(--color-primary);
    box-shadow: 0 1px 25px 0 var(--color-primary-40);
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      transform: scale(1.012);
      box-shadow: 0 1px 50px 0 #1111110f, 0 10px 50px 0 var(--color-primary-20);
    }
  }
  @media (max-width: 932px) {
    max-width: 438px ;
    max-height: 300px;
  }

  @media (max-width: 767px) {
    width: min(366px, 100%);
    flex: 0 0 auto;
    max-height: 257px;
    padding: 16px;

    &:hover {
      transform: none;
      box-shadow: 0 1px 25px 0 #1111111f;
    }
  }

  @media (max-width: 425px) {
    width: calc(100% - 24px);
  }

  @media (max-width: 325px) {
    padding: 14px;
  }

  &__icon {
    width: 160px;
    height: 160px;
    align-self: center;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    @media (max-width: 767px) {
      width: 120px;
      height: 120px;
    }

    @media (max-width: 325px) {
      width: 110px;
      height: 110px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 390px;
    @media (max-width: 425px) {
      max-width: 90%;
    }
  }

  &__title {
    margin: 0;
    font-size: var(--font-size-subtitle);
    font-weight: var(--font-weight-subtitle);
    line-height: 1.3;
    color: var(--color-primary-80);
  }

  &__text {
    margin: 0;
    font-size: var(--font-size-info);
    font-weight: var(--font-weight-info);
    line-height: 1.2;
    color: var(--color-black-70);
    white-space: pre-line;
  }
}
