.footer {
  width: calc(100% - 32px);
  max-width: 1680px;
  margin: 16px auto 0 auto;
  padding: 24px 16px;
  flex-shrink: 0;

  @media (max-width: 768px) {
    padding: 24px 20px;
  }

  @media (max-width: 425px) {
    width: calc(100% - 16px);
    padding: 20px 16px;
  }

  @media (max-width: 325px) {
    padding: 18px 12px;
  }
}

.footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #1c1c1c4d;

  @media (max-width: 1439px) {
    flex-direction: column;
    align-items: center;
    gap: 16px;
    text-align: center;
  }

  @media (max-width: 768px) {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 16px;
  }

  @media (max-width: 425px) {
    gap: 14px;
  }

  @media (max-width: 325px) {
    gap: 12px;
  }
}

.footer__copyright {
  color: #1c1c1c4d;
}

.footer__links {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @media (max-width: 1439px) {
    justify-content: center;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }

  @media (max-width: 425px) {
    gap: 10px;
  }

  @media (max-width: 325px) {
    gap: 8px;
  }
}

.footer__link {
  color: #1c1c1c4d;
  text-decoration: none;
  transition: color 150ms ease-out;

  &:hover {
    color: var(--color-primary-20);
  }

  & + & {
    padding-left: 16px;
    margin-left: 16px;
    border-left: 1px solid #1c1c1c4d;
  }

  @media (max-width: 768px) {
    & + & {
      padding-left: 0;
      margin-left: 0;
      border-left: none;
    }
  }
}
