.header {
  background: var(--color-white);
  margin: 16px;
  border-radius: 16px;
  box-shadow: 0 0 50px 0 var(--color-primary-10);
  border: 1px solid #1c1c1c0f;
  backdrop-filter: blur(16px);
  position: relative;
  z-index: 2000;
  overflow: visible;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  height: 80px;
  position: relative;
  overflow: visible;
}

.header__logos {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}

.header__logo-img {
  width: 48px;
  height: 48px;
  object-fit: contain;
}

.header__text {
  font-family: "Inter", sans-serif;
  font-size: var(--font-size-header-text);
  font-weight: var(--font-weight-header-text);
  line-height: 1.3;
  color: var(--color-primary-80);
  padding-left: 4px;
}

@media (max-width: 1439px) {
  .header__inner {
    padding: 0 16px;
  }

  .header__text {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .header__logo-img {
    width: 32px;
    height: 32px;
  }

  .header__logos {
    gap: 8px;
  }

  .header__text {
    font-size: 16px;
    padding-left: 0;
  }

  .header__inner {
    height: 72px;
  }
}

@media (max-width: 423px) {
  .header__text {
    font-size: 14px;
    line-height: 1.2;
  }

  .header__inner {
    height: 68px;
  }
}

@media (max-width: 375px) {
  .header__logos {
    gap: 6px;
  }

  .header__text {
    font-size: 14px;
  }

  .header__inner {
    padding: 0 12px;
    height: 64px;
  }
}

@media (max-width: 340px) {
  .header__text {
    font-size: 12px;
  }
}
