.home__title {
  color: var(--color-primary-80);
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-title);
}

.process-list {
  padding-top: 80px;

  @media (max-width: 765px) {
    padding-top: 32px;
  }
  .home__title {
    margin: 0 auto 32px;
    text-align: center;

    @media (max-width: 765px) {
      margin-bottom: 16px;
    }
  }
}

.level-select {
  margin-top: 80px;

  @media (max-width: 765px) {
    margin-top: 32px;
  }

  .home__title {
    margin: 0 auto 32px;
    text-align: center;
    max-width: calc(100vw - 74px);
    @media (max-width: 765px) {
      margin-bottom: 16px;
    }
    @media (max-width: 475px) {
      max-width: calc(100vw - 86px);
    }
  }
}

#level-block { display: none; }
.app[data-state="level"] #level-block { display: block; }

#level-block .card-section__level { display: none; }
#level-block .card-section__level.active { display: block; }


@media (max-width: 932px) {
  .app[data-state="level"] #process-block { display: none; }
  .card-section__back { display: inline-flex; }
}

