@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter_18pt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter_18pt-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-size-title: 32px;
  --font-weight-title: 600;
  --font-size-subtitle-info: 28px;
  --font-size-header-text: 20px;
  --font-weight-header-text: 600;
  --font-size-subtitle: 18px;
  --font-weight-subtitle: 600;
  --font-size-button: 16px;
  --font-weight-button: 500;
  --font-size-info: 14px;
  --font-weight-info: 500;
  --font-size-info-mobil: 14px;


  --color-white: #ffffff;
  --color-black: #1C1C1C;

  --color-primary: #0B6366;
  --color-primary-80: #0B6366CC;
  --color-primary-60: #0B636699;
  --color-primary-40: #0B636666;
  --color-primary-20: #0B636633;
  --color-primary-10: #0B63661A;
  --color-black-70: #1C1C1CB2;
  --color-black-80: #1C1C1CCC;


  --gradient-page-bg:
    linear-gradient(0deg, rgba(11, 99, 102, 0.06), rgba(11, 99, 102, 0.06)),
    linear-gradient(0deg, #ffffff, #ffffff);

  --gradient-primary-with-shadow:
     linear-gradient(0deg, rgba(28, 28, 28, 0.1), rgba(28, 28, 28, 0.1)),
     linear-gradient(0deg, #0B6366, #0B6366);

  --gradient-primary-with-light:
     linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
     linear-gradient(0deg, #0B6366, #0B6366);

  --gradient-dark-overlay-soft:
     linear-gradient(0deg, rgba(28, 28, 28, 0.3), rgba(28, 28, 28, 0.3)),
     linear-gradient(0deg, rgba(11, 99, 102, 0.2), rgba(11, 99, 102, 0.2));

  --gradient-dark-overlay-strong:
     linear-gradient(0deg, rgba(28, 28, 28, 0.6), rgba(28, 28, 28, 0.6)),
     linear-gradient(0deg, rgba(11, 99, 102, 0.2), rgba(11, 99, 102, 0.2))
}


@media (max-width: 1439px) {
  :root {
    --font-size-title: 26px;
    --font-size-subtitle-info: 26px;
    --font-size-header-text: 18px;
    --font-size-subtitle: 16px;
    --font-size-button: 15px;
    --font-size-info: 13px;
  }
}

@media (max-width: 767px) {
  :root {
    --font-size-subtitle-info: 22px;
    --font-size-title: 22px;
    --font-size-header-text: 16px;
    --font-size-subtitle: 16px;
    --font-size-button: 14px;
    --font-size-info: var(--font-size-info-mobil);
  }
}

@media (max-width: 525px) {
  :root {
    --font-size-subtitle-info: 20px;
    --font-size-title: 20px;
    --font-size-header-text: 14px;
    --font-size-subtitle: 16px;
    --font-size-button: 12px;
    --font-size-info: 12px;
  }
}