<section class="process-list card-section" id="process-block">
    <h2 class="home__title" id="home-title">Выберите отрасль права</h2>

    <div class="card-section__flex process-list__cards">
        <article class="card process-card" data-process="civil">
            <div class="card__icon">
                <img src="../../assets/img/civil-icon.png" alt="Гражданский процесс">
            </div>
            <div class="card__content">
                <h2 class="card__title">Гражданский процесс</h2>
                <p class="card__text">
                    Рассмотрение споров о защите нарушенных или оспариваемых прав, свобод и законных интересов
                </p>
            </div>
        </article>

        <article class="card process-card" data-process="administrative">
            <div class="card__icon">
                <img src="../../assets/img/administrative.png" alt="Административный процесс">
            </div>
            <div class="card__content">
                <h2 class="card__title">Административный процесс</h2>
                <p class="card__text">
                    Разрешение административных дел с целью защиты прав в публично-правовых отношениях
                </p>
            </div>
        </article>

        <article class="card process-card" data-process="criminal">
            <div class="card__icon">
                <img src="../../assets/img/criminal.png" alt="Уголовный процесс">
            </div>
            <div class="card__content">
                <h2 class="card__title">Уголовный процесс</h2>
                <p class="card__text">
                    Пресечение, раскрытие и расследование уголовных правонарушений
                </p>
            </div>
        </article>
    </div>
</section>
