.home__title {
  color: var(--color-primary-80);
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-title);
}

.process-list {
  padding-top: 80px;

  @media (max-width: 765px) {
    padding-top: 32px;
  }
  .home__title {
    margin: 0 auto 32px;
    text-align: center;

    @media (max-width: 765px) {
      margin-bottom: 16px;
    }
  }
}

.level-select {
  margin-top: 80px;

  @media (max-width: 765px) {
    margin-top: 32px;
  }

  .home__title {
    margin: 0 auto 32px;
    text-align: center;
    max-width: calc(100vw - 74px);
    @media (max-width: 765px) {
      margin-bottom: 16px;
    }
  }
}

.app {
  &[data-state="process"] {
    #process-block { display: block; }
    #level-block { display: none; }
  }

  &[data-state="level"] {
    #process-block { display: block; }
    #level-block { display: block; }
  }
}

@media (min-width: 932px) {
  .card-section__back {
    display: none;
  }
}

@media (max-width: 932px) {
  .app[data-state="level"] {
    #process-block { display: none; }
    #level-block { display: block; }
  }

  .app[data-state="process"] {
    #process-block { display: block; }
    #level-block { display: none; }
  }

  .card-section__back {
    display: inline-flex;
  }
}
