.home {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 80px;
  text-align: center;
  position: relative;
}

.home__title {
  font-family: "Inter", sans-serif;
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-title);
  color: var(--color-primary-80);
}

@media (max-width: 1439px) {
  .home {
    padding-top: 16px;
  }

  .home__title {
    font-size: 26px;
  }
}

@media (max-width: 768px) {
  .home__title {
    font-size: 24px;
  }
}

@media (max-width: 425px) {
  .home__title {
    font-size: 20px;
  }
}

.is-hidden {
  display: none;
}

.home.is-level-only #process-block {
  display: none;
}

.home.is-level-only #level-block {
  display: block;
}

