<%- include('../partials/header.ejs', { title: 'Главная страница' }) %>
    <main class="main">
        <div class="persons__container">
            <div class="categories__container">

                <div class="categories__path">
                    <a class="categories__path-text" href="./index.html">Отрасль права</a>
                    <img src="./img/backslash.svg" alt="">
                    <a class="categories__path-text" href="./administrative-category.html">Категория административного дела</a>
                    <img src="./img/backslash.svg" alt="">
                    <span class="categories__path-current">Процессуальный статус</span>
                </div>
            </div>
        </div>
        <section class="level-list card-section">
            <h2 class="persons__title card-section__title" id="level-title">Выберите свой процессуальный статус</h2>
            <div class="card-section__flex level-list__cards">
                <a class="card level-card" data-level="administrative" href="./manual.html">
                    <div class="card__icon">
                        <img src="./img/persons.png" alt="Истец">
                    </div>
                    <div class="card__content">
                        <h2 class="card__title">Истец</h2>
                        <p class="card__text">
                            Лицо, предъявившее иск в защиту своих прав
                        </p>
                    </div>
                </a>
            </div>
        </section>
    </main>
<%- include('../partials/footer.ejs') %>
