@use "../../styles/variables/variables" as *;
@use "../../styles/base/mixins" as *;

.info-section {
  margin-top: $space-8;
  user-select: none;

  .info-section__grid {
    @include flex-row(flex-start, flex-start, $space-6);
  }
}

.info-card {
  @include flex-col(flex-start, flex-start, $space-4);
  width: 438px;
  height: 305px;
  padding: $space-6;
  border-radius: $radius-3;
  background: $surface-bg;
  box-shadow: 0px 1px 25px 0px #1111111f;
  transition:
    width 150ms ease-out,
    height 150ms ease-out,
    border 150ms ease-out,
    box-shadow 150ms ease-out,
    transform 150ms ease-out;
  cursor: pointer;

  &:hover {
    width: 458px;
    height: 325px;
    box-shadow:
      0px 1px 50px 0px #1111110f,
      0px 10px 50px 0px #0b636633;
    transform: translateY(-4px);
  }

  &.is-selected {
    border: 2px solid #0b6366;
    box-shadow:
      0 1px 25px 0 #0b636640;
  }
}

.info-card__icon {
  width: 160px;
  height: 160px;
  align-self: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
  }
}

.info-card__content {
  @include flex-col(flex-start, flex-start, $space-2);
  max-width: 390px;
}

.info-card__title {
  font-family: $typo-page-subtitle-family;
  font-size: $typo-page-subtitle-size;
  font-weight: $typo-page-subtitle-weight;
  line-height: $typo-page-subtitle-line-height;
  letter-spacing: $typo-page-subtitle-letter-spacing;
  text-align: left;
  color: $text-secondary;
}

.info-card__text {
  font-family: $typo-info-text-family;
  font-size: $typo-info-text-size;
  font-weight: $typo-info-text-weight;
  line-height: $typo-info-text-line-height;
  letter-spacing: $typo-info-text-letter-spacing;
  text-align: left;
  color: $text-tertiary;
  white-space: pre-line;
}
