.persons{
  &__container{
    margin: 80px 0 40px 0;
  }
  &__path {
    display: flex;
    align-items: center;
    width: calc(100vw - 32px);
    margin-bottom: 8px;
    gap: 8px;
    font-size: var(--font-size-button);
    @media (max-width: 525px){
      width: calc(100vw - 16px);
    }


    &-text {
      color: var(--color-black-70);
      font-weight: var(--font-weight-button);
    }

    &-current {
      color: var(--color-primary);
      font-weight: var(--font-weight-subtitle);
    }

    img {
      width: 12px;
      height: 12px;
      display: block;
    }
  }
  &__title{
    color: var(--color-primary-80);
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-title);
    margin: 0 auto 32px;
    text-align: center;
    max-width: calc(100vw - 74px);
    @media (max-width: 765px) {
      margin-bottom: 16px;
    }
  }
  @media (max-width: 765px) {
    margin-top: 32px;
  }

  .home__title {
    margin: 0 auto 32px;
    text-align: center;
    max-width: calc(100vw - 74px);
    @media (max-width: 765px) {
      margin-bottom: 16px;
    }
  }

}