<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__copyright">
                © 2025 LegalExpert. Все права защищены.
            </div>

            <div class="footer__links">
                <a href="#" class="footer__link">Связаться с нами</a>
                <a href="#" class="footer__link">Условия использования</a>
                <a href="#" class="footer__link">Политика конфиденциальности</a>
            </div>
        </div>
    </div>
</footer>
</div>
<script type="module" src="../scripts/main.js"></script>
</body>
</html>