<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= typeof title !== 'undefined' ? title : 'Default Title' %></title>
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon-16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon-32.png">
    <link rel="icon" type="image/png" sizes="64x64" href="../img/favicon-64.png">
    <link rel="stylesheet" href="../styles/main.scss">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>
<div class="app">
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <div class="header__logos">
                    <img src="../img/logo-new.svg"
                         alt="Legal Expert new logo"
                         class="header__logo-img">

                    <img src="../img/logo.png"
                         alt="Legal Expert logo"
                         class="header__logo-img">

                    <div class="header__text">
                        Система подготовки к судебным процессам
                    </div>
                </div>

                <div class="header__lang">
                    <div class="lang-switch" data-lang="ru">
                        <button class="lang-switch__button" type="button" aria-haspopup="listbox" aria-expanded="false">
                            <span class="lang-switch__label">Рус</span>
                            <span class="lang-switch__icon">
                                  <svg class="lang-switch__arrow" width="12" height="6" viewBox="0 0 12 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.185 0.625L6.83833 4.97167C6.325 5.485 5.485 5.485 4.97167 4.97167L0.625 0.625"  stroke="currentColor" stroke-width="1.25" stroke-miterlimit="10"  stroke-linecap="round" stroke-linejoin="round"/>
                                  </svg>
                                </span>
                        </button>
                        <div class="lang-switch__menu" role="listbox">
                            <ul class="lang-switch__list">
                                <li class="lang-switch__item is-selected" data-lang="ru" role="option" aria-selected="true">
                                    <span class="lang-switch__item-label">Рус</span>
                                    <span class="lang-switch__check">
                                          <svg class="lang-switch__check-icon" width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0.625 4.04954L4.04954 7.47408L10.9107 0.625"  stroke="currentColor" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                                          </svg>
                                        </span>
                                </li>

                                <li class="lang-switch__item" data-lang="kk" role="option" aria-selected="false">
                                    <span class="lang-switch__item-label">Қаз</span>
                                    <span class="lang-switch__check">
                                          <svg class="lang-switch__check-icon" width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0.625 4.04954L4.04954 7.47408L10.9107 0.625" stroke="currentColor" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                                          </svg>
                                        </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>