$page-bg: #0B63660F;
$surface-bg: #ffffff;
$surface-border-subtle: #1c1c1c0f;

// Titles
$text-primary: #0B6366CC;

// Subtitles
$text-secondary: #0B6366;
;

// Informational text
$text-tertiary: #1C1C1CB2;

// White text
$text-on-dark: #ffffff;

// Links
$text-link: #0b6366;

// Footer linc
$text-footer-link: #1C1C1C4D;
$text-footer-link-hover: #0B636633;

// Default (white)
$interactive-ghost-bg-default: #fefefecc;
$interactive-ghost-fg-default: #1c1c1cb2;

// Hover
$interactive-ghost-bg-hover: #0b63661a;
$interactive-ghost-fg-hover: #0b6366;

// Pressed
$interactive-ghost-bg-pressed: #0b6366;
$interactive-ghost-fg-pressed: #ffffff;

// Selected
$interactive-ghost-bg-selected: #fefefecc;
$interactive-ghost-fg-selected: #1c1c1cb2;

// Default (green)
$interactive-solid-bg-default: #0b6366;
$interactive-solid-fg-default: #ffffff;

// Hover
$interactive-solid-bg-hover: linear-gradient(0deg, #0b6366, #0b6366),
linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
$interactive-solid-fg-hover: #ffffff;

// Pressed
$interactive-solid-bg-pressed: linear-gradient(0deg, #0b6366, #0b6366),
linear-gradient(0deg, rgba(28, 28, 28, 0.1), rgba(28, 28, 28, 0.1));
$interactive-solid-fg-pressed: #ffffff;

// Selected
$interactive-solid-bg-selected: #0b636666;
$interactive-solid-fg-selected: #ffffff;

// Shadows
$shadow-surface-soft: 0px 1px 25px 0px #1111111f;
