$space-1: 4px;
$space-2: 8px;
$space-3: 12px;
$space-4: 16px;
$space-5: 20px;
$space-6: 24px;
$space-7: 28px;
$space-8: 32px;
$space-9: 36px;
$space-10: 40px;
$space-11: 48px;
$space-12: 54px;
$radius-1: 4px;
$radius-2: 8px;
$radius-3: 12px;
$radius-4: 16px;
$z_index-1: 1900px;
$z_index-2: 1800px;
$z_index-3: 1700px;
$z_index-4: 1600px;
$z_index-5: 1500px;
$z_index-6: 1400px;
$z_index-7: 1300px;
$z_index-8: 1200px;
$z_index-9: 1100px;

